[submodule "vim/vim.symlink/bundle/pathogen"]
	path = vim/vim.symlink/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/ir_brown"]
	path = vim/vim.symlink/bundle/ir_brown
	url = git://github.com/lukerandall/ir_brown.vim.git
[submodule "vim/vim.symlink/bundle/matchit"]
	path = vim/vim.symlink/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim.symlink/bundle/commentary"]
	path = vim/vim.symlink/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/ruby"]
	path = vim/vim.symlink/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/textobj-user"]
	path = vim/vim.symlink/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/vim.symlink/bundle/textobj-rubyblock"]
	path = vim/vim.symlink/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/vim.symlink/bundle/vimux"]
	path = vim/vim.symlink/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/vim.symlink/bundle/endwise"]
	path = vim/vim.symlink/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vim/vim.symlink/bundle/coffee-script"]
	path = vim/vim.symlink/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim.symlink/bundle/splice"]
	path = vim/vim.symlink/bundle/splice
	url = https://github.com/sjl/splice.vim.git
[submodule "vim/vim.symlink/bundle/taglist"]
	path = vim/vim.symlink/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim.symlink/bundle/rake"]
	path = vim/vim.symlink/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim.symlink/bundle/bundler"]
	path = vim/vim.symlink/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/vim.symlink/bundle/json"]
	path = vim/vim.symlink/bundle/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "vim/vim.symlink/bundle/vroom"]
	path = vim/vim.symlink/bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/vim.symlink/bundle/dispatch"]
	path = vim/vim.symlink/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/bundle/vspec"]
	path = vim/vim.symlink/bundle/vspec
	url = https://github.com/kana/vim-vspec.git
[submodule "vim/vim.symlink/bundle/folding-rspec"]
	path = vim/vim.symlink/bundle/folding-rspec
	url = https://github.com/markscholtz/vim-folding-rspec.git
[submodule "vim/vim.symlink/bundle/markdown"]
	path = vim/vim.symlink/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-addon-mw-utils"]
	path = vim/vim.symlink/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/tlib"]
	path = vim/vim.symlink/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/snippets"]
	path = vim/vim.symlink/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim.symlink/bundle/markdown-folding"]
	path = vim/vim.symlink/bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/vim.symlink/bundle/ultisnips"]
	path = vim/vim.symlink/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim.symlink/bundle/airline"]
	path = vim/vim.symlink/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/typescript-vim"]
	path = vim/vim.symlink/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/vim.symlink/bundle/tsuquyomi"]
	path = vim/vim.symlink/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule "vim/vim.symlink/bundle/obsession"]
	path = vim/vim.symlink/bundle/obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/vim.symlink/bundle/fzf"]
	path = vim/vim.symlink/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/vim.symlink/bundle/vim-solarized8"]
	path = vim/vim.symlink/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
