[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/vim/pack/minpac/opt/minpac"]
	path = vim/vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
