snippet c A plain comment #1
	puts "----> ${1}"

snippet c Inspect an object #2
	puts "----> ${1:object}: #{$1}"

snippet c Inspect an object (Custom label) #3
	puts "----> ${1:label}: #{${2:object}}"
